@model IEnumerable<WebApplication1.Models.Account>

@{
    ViewData["Title"] = "Danh sách tài khoản quản trị";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="btn btn-outline-secondary btn-fw">Danh sách tài khoản quản trị</h2>

<div class="card-body">

    <div class="table-responsive">
        <p>
            <a asp-action="Create">Create New</a>
        </p>
        
        <table class="table table-dark">
            <select class="custom-select" style="min-width: 180px;" asp-items="ViewBag.QuyenTruyCap">
                <option value="" disabled selected>Chọn quyền truy cập</option>
            </select>
            <thead>
                <tr>
                    <th> ID</th>
                    <th> FullName </th>
                    <th> Email </th>
                    <th> Phone </th>
                    <th> Lần đăng nhập gần nhất</th>
                    <th> Quyền truy cập </th>
                    <th> Active </th>
                    <th> # </th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td> @item.AccountId </td>
                            <td> @item.FullName </td>
                            <td> @item.Email </td>
                            <td> @item.Phone </td>
                            <td> @item.LastLogin</td>
                            <td> @item.RoleID </td>

                            <td>
                                @if (item.Active ){
                                    <div class="badge badge-success">
                                        <div>Active</div>
                                    </div>
                                }
                                else
                                {
                                    <div class="badge badge-warning"><div>Block</div></div>
                                    
                                }
                            </td>                          
                            <td>

                                <a class="badge badge-success" asp-area="Admin" asp-controller="AdminAccounts" asp-action="Edit" asp-route-id="@item.AccountId">Edit</a> |
                                <a class="badge badge-warning" asp-area="Admin" asp-controller="AdminAccounts" asp-action="Details" asp-route-id="@item.AccountId">Details</a> |
                                <a class="badge badge-danger" asp-area="Admin" asp-controller="AdminAccounts" asp-action="Delete" asp-route-id="@item.AccountId">Delete</a>
                            </td>

                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
